body {
	background-color: #ffffbf;
	color: #4a4a4a;
}

h1, h2, h3, h4, a {
	color: #a54242;
	text-decoration: none;
}

a:hover {
	color: #351515;
}

svg {
	width: 30px;
	height: 30px;
}

.profile {
	padding-right: 30px;
	padding-bottom: 30px;
}

.nav-icon, .nav-text {
	vertical-align: middle;
	display: inline-block;
}

.tag-button {
	padding: 0px 5px 0px 5px;
	margin: 0px 2.5px 0px 2.5px;
	border: 3px solid #a54242;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}

.tag-button:hover {
	border: 3px solid #351515;
}

#main {
	margin-top: 4em; 
	margin-bottom: 3.75em;
	margin-right: 5.5em;
	padding-left: 7.5em;
}

#nav {
	background-color: #ffffbf;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 25px 5px 0;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

#nav #nav-items a {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#nav #nav-items a .nav-text {
	opacity: 0;
	margin-left: -82.5px;
}

@keyframes over {
	0% {
		opacity: 0;
		margin-left: 0;
	}
	50% {
		opacity: 1;
		margin-left: 15px;
	}
	100% {
		opacity: 1;
		margin-left: 10px;
	}
}

#nav:hover .nav-text {
	animation-name: over;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}

.nav-switch {
	padding: 10px;
	background-color: #a54242;
	color: #ffffbf;
}

.menu-button {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	text-align: center;
}

input.checkbox-menu[type = "checkbox"] {
	display: none;
	-webkit-appearance: none;
}

.topnav-menu {
	display: none;
	position: fixed;
	top: 54px;
	left: 0;
	right: 0;
	opacity: 1;
	background-color: #ffffbf;
	visibility: visible;
	padding-top: 6px;
	padding-bottom: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

@keyframes below {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input.checkbox-menu[type = "checkbox"]:checked ~
div.topnav-menu {
	display: block;
	animation-name: below;
	animation-duration: .5s;
	animation-fill-mode: both;
}

#topnav {
	display: none;
}

#topnav svg {
	padding-right: 7.5px;
}

#topnav a {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

@media only screen and (max-width: 1000px) {
	#main {
		margin-top:    5.25em; 
		margin-bottom: 2em;
		margin-right:  2em;
		margin-left:   2em;
		padding-left:  0;
	}

	#nav {
		display: none;
	}

	#topnav {
		display: block;
	}
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('../fonts/cmunbsr.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('../fonts/cmunbbx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('../fonts/cmuntt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Computer Modern Sans', sans-serif;
	font-size: 16pt;
}

code {
	font-family: 'Computer Modern Typewriter', monospace;
	background-color: #afafaf;
	padding: 0pt 3pt 0pt 3pt;
}
