{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ partial "date.html" . }}
{{ partial "tags.html" . }}
<br><br>
{{ .Content }}

<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>
{{ end }}
